@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(@/public/WEB/css/general-sans.css);
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}

.font-generalSansLight {
  font-family: "GeneralSans-Light", sans-serif;
}

.font-generalSansMedium {
  font-family: "GeneralSans-Medium", sans-serif;
}

.font-hedvigLettersSerif {
  font-family: "Hedvig Letters Serif", serif;
}

.font-playfairDisplay {
  font-family: "Playfair Display", serif;
}

.underlined {
  color: black;
  flex: 1;
  text-decoration: none;
  background-position: 0 1.2em;
  background-size: 0 10%;
  background-repeat: no-repeat;
  z-index: 20;
  transition: 0.5s;
}
.underlined:hover {
  background-size: 100% 10%;
}
.underlined--thin {
  background-image: linear-gradient(to right, black 0, black 100%);
  background-position: 0 100%;
}

.box {
  border-radius: 50%;
  background: #fff;
  z-index: 200;
  mix-blend-mode: difference;
  pointer-events: none;
}

.window-mask {
  mask-image: linear-gradient(black, black), url("/rectangle.svg");
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: auto, 300px auto;
  mask-position: center center, center right calc(14vw + 8px);
}

@media (max-width: 1023.5px) {
  .window-mask {
    mask-size: auto, 150px auto;
    mask-position: center center, center right calc(14vw + 8px);
  }
}
@media (max-width: 768px) {
  .window-mask {
    mask-size: auto, 150px auto;
    mask-position: center center, center right calc(6vw + 8px);
  }
}